<div class="footer">
    <div class="content">
      <div class="links">
        <h4>Enlaces Rápidos</h4>
        <p><a href="/">Inicio</a></p>
        <p><a href="/news">Noticias</a></p>
        <p><a href="/indicators">Indicadores</a></p>
        <p><a href="/login">Perfil</a></p>
      </div>
      <div class="details">
        <h4 class="address">Dirección</h4>
        <!--una direccion-->
        <p>
          Lorem ipsum dolor sit amet consectetur <br />
          adipisicing elit. Cupiditate, qui!
        </p>
        <h4 class="mail">Correo</h4>
        <p><a href="#">aberdhu@gmail.com</a></p>
      </div>
      <div class="social-media">
        <h4>Redes Sociales</h4>
        <p>
          <a href="https://twitter.com"><i class="fab fa-twitter"></i> Twitter</a>
        </p>
        <p>
          <a href="https://www.instagram.com"><i class="fab fa-instagram"></i> Instagram</a>
        </p>
      </div>
    </div>
  </div>