<div class="footer">
    <div class="content">
      <div class="links">
        <h4>Quick links</h4>
        <p><a href="/">Home</a></p>
        <p><a href="/news">News</a></p>
        <p><a href="/indicators">Indicators</a></p>
        <p><a href="/login">Login</a></p>
      </div>
      <div class="details">
        <h4 class="address">Address</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur <br />
          adipisicing elit. Cupiditate, qui!
        </p>
        <h4 class="mail">Email</h4>
        <p><a href="#">aberdhu@gmail.com</a></p>
      </div>
      <div class="social-media">
        <h4>Social</h4>
        <p>
          <a href="https://twitter.com/Sanket46171296"><i class="fab fa-twitter"></i> Twitter</a>
        </p>
        <p>
          <a href="https://www.instagram.com/imsanketbodke/?hl=en"><i class="fab fa-instagram"></i> Instagram</a>
        </p>
      </div>
    </div>
  </div>