<div class="footer">
    <div class="content">
      <div class="links">
        <h4>Enlaces Rápidos</h4>
        <p><a href="/">Inicio</a></p>
        <p><a href="/news">Noticias</a></p>
        <p><a href="/indicators">Criptomonedas</a></p>
      </div>
      <div class="details">
        <h4 class="address">Dirección</h4>
        <!--una direccion-->
        <p>
          Calle 51 Nº 57-70 <br />
          Teléfono 5760000, extensión 42403.
        </p>
        <h4 class="mail">Correo</h4>
        <p>aberdhu@gmail.com</p>
      </div>
      <div class="social-media">
        <h4>Redes Sociales</h4>
        <p>
          <a href="https://twitter.com"><i class="fab fa-twitter"></i> Twitter</a>
        </p>
        <p>
          <a href="https://www.instagram.com"><i class="fab fa-instagram"></i> Instagram</a>
        </p>
      </div>
    </div>
  </div>