<section class="header">
  <nav>
    <a href="/"><img src="" alt=""></a>
    <div class="nav-links" id="navLinks">
      <i class="fa fa-times" onclick="hideMenu()"></i>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/indicators">Indicators</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
    </div>
    <i class="fa fa-bars" onclick="showMenu()"></i>
  </nav>
  <div class="text-box">
    <h1>Welcome to Aberdhu</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, tempora aliquid hic saepe obcaecati quam!</p>
  <a href="/login" class="hero-btn">Login</a>
  </div>
</section>