@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
  }
  .text-box h1{
    font-size: 70px;
  }
  .text-box p{
    margin: 10px 0 40px;
    font-size: 23px;
    color: #fff;
  }
.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    text-align: center;
    font-size: 36px;
    font-weight: 600;
}

.text-items{
    text-align: center;

}
.description{
    color: white;
    text-align: center;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.course-col{
    flex-basis: 31%;
    background: #faeaea;
    border-radius: 8px;
    margin-bottom: 5%;
    padding: 15px 12px;
    box-sizing: border-box;
    transition:0.5s;
}
.items{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(247, 70, 16, 0.219);
    transform: scale(1.10, 1.10);
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}
.facilities{
    background-color:#090c1c;
}

#card-cripto {
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0);
    transform: translateX(-50%) translateY(-50%) translateZ(0);
    width:350px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    -webkit-transition: box-shadow 0.5s;
    transition: box-shadow 0.5s;
}
.title-news{
    color: white;
    padding-top: 3%;
    text-align: center;
}
.text-news{
    color: white;
    text-align: center;
}
.news-main-title{
    color: white;
    padding-top: 3%;
}
.text-indicators{
    text-align: center;
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
  }
  .cta{
      margin: 60px auto;
      width: 80%;
      background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(/resources/img/slide1.jpg);
      background-position: center;
      background-size: cover;
      border-radius: 8px;
      text-align: center;
      padding: 80px 0;
  }
.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}
.container-cripto{
    padding-top: 3%;
    padding-bottom: 3%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
}