.title-box{
    width: 80%;
    color: #fff;
    position: absolute;
    top: 85%;
    left: 45%;
    transform: translate(-50%,-50%);
    text-align: left;
}

.title-box h4{
    font-size: 62px;
}

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border: none;
  }
