  body {
    font-family: Open Sans, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
    text-decoration: none;
  }
  h3,
  .h3 {
    font-size: 1.0625rem;
  }
  h4,
  .h4 {
    font-size: .9375rem;
  }
  .display-2 {
    font-size: 2.75rem;
    font-weight: 600;
    line-height: 1.0;
  }  
  .col-lg-3,
  .col-lg-7,
  .col-xl-8 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-bottom: 15px;
  }
  .bg-secondary {
    background-color: #f7fafc !important;
  }
  .mt--7 {
    margin-top: -8rem !important;
  }
  .pt-8 {
    padding-top: 8rem !important;
  }
  @media (min-width: 768px) {
  
    .mt-md-5 {
      margin-top: 3rem !important;
    }
  
    .pt-md-4 {
      padding-top: 1.5rem !important;
    }
  
    .pb-md-4 {
      padding-bottom: 1.5rem !important;
    }
  }
  .text-muted {
    color: #8898aa !important;
  }
  .opacity-8 {
    opacity: .8 !important;
  }
  .card-profile-image img {
    position: absolute;
    left: 50%;
    max-width: 180px;
    transition: all .15s ease;
    transform: translate(-50%, -30%);
    border-radius: .375rem;
  }
  .main-content {
    position: relative;
  }
  .main-content .navbar-top {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    padding-right: 0 !important;
    padding-left: 0 !important;
    background-color: transparent;
  }
  @media (min-width: 768px) {
    .main-content .container-fluid {
      padding-right: 39px !important;
      padding-left: 39px !important;
    }
  }
  #showPass{
  width: 60px;
  height: 40px;
  font-size: 13px;
  text-align: center;
  }
  .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .15s ease;
    background-color: #D291BC;
  }
  p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.7;
  }
