<!-- DOCUMENTAR (S) -->

<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/resources/css/main.css">
    <link rel="stylesheet" href="/resources/css/stylenavbar.css">
    <script defer src="/resources/js/help.js"></script>
    <title>Inicio</title>
</head>

<body>
  <section>
    <%- include('../partials/header'); %>
      <div class="text-box">
        <% if(user) { %>
          <h1>Bienvenido de vuelta, <%= user.username %>! </h1>
          <% } else { %>
            <h1>Bienvenido a Aberdhu</h1>
            <% } %>
              <p>Somos una página de noticias financieras e indicadores económicos, nuestros servicios serán de gran
                ayuda a
                quienes deseen adentrarse superficialmente al mundo económico y financiero </p>
      </div>
  </section>
  <section class="course">
    <h1>Podrás encontrar</h1>
    <div class="row">
      <div class="course-col">
        <h3 class="items"><i class="far fa-newspaper"></i> Noticias</h3>
        <p class="text-items">
          Aquí podrás encontrar las últimas novedades del sector financiero con información sobre tickers.
        </p>
      </div>
      <div class="course-col">
        <h3 class="items"><i class="fas fa-chart-line"></i> Criptomonedas</h3>
        <p class="text-items">
          En Aberdhu encontrarás información importante sobre una gran variedad de criptomonedas cruciales actualmente.
        </p>
      </div>
      <div class="course-col">
        <h3 class="items"><i class="far fa-envelope"></i> Alertas</h3>
        <p class="text-items">
          Puedes registrarte en Aberdhu para recibir correos ocasionales sobre las últimas actualizaciones que te
          interesen (solo enviaremos esto a quienes se registren).
        </p>
      </div>
    </div>
  </section>
  <section class="facilities">
    <h1 class="news-main-title">Últimas noticias</h1>
    <p class="description">
      Aquí encontrarás las últimas noticias relacionadas con el mundo financiario. ¡Incluso con sus tickets!
    </p>
    <div class="container" id="newHOME">
      <article class="card" v-for="n in news" :key="n.id">
        <header class="card__thumb">
          <img v-bind:src="n.image_url" />
        </header>
        <div class="card__body">
          <h2 class="card__title">
            {{ n.title }}
          </h2>
          <p class="card__description">
            {{ n.description.length > 90 ? n.description.substr(0,100) : n.description }}...
          </p>
        </div>
      </article>
    </div>
  </section>
  <section class="pt-4" id="indicators">
    <h1>Criptomonedas</h1>


    <% if(user) { %>

      <p id="msg">

      </p>

      <div class="container-cripto">
        <div class="card" style="width: 18rem;" v-for="i in following" ::key="i.id">
          <img v-bind:src="i.image" class="card-img-top" alt="...">
          <div class="card-body">
            <span> {{ i.name }} {{ i.symbol }} </span>
            <h3> ${{ i.current_price }} </h3>
          </div>
        </div>
      </div>

      <% } else { %>

        <div class="container-cripto">
          <div class="card" style="width: 18rem;" v-for="i in indi" ::key="i.id">
            <img v-bind:src="i.image" class="card-img-top" alt="...">
            <div class="card-body">
              <span> {{ i.name }} </span>
              <h3> ${{ i.current_price }} </h3>
            </div>
          </div>
        </div>

        <% } %>

  </section>
  <section class="cta">
    <h1 class="m-3">
      TIP: Las criptomonedas tienen cambios, registrate para detectarlos primero que todos.
    </h1>
    <h3 class="text-light m-3">
      ⍟ Dale click en la estrella a la criptomoneda que deseas conocer y te enviaremos correos de sus cambios
    </h3>
  </section>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
  <script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
</body>

</html>