<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
<section>
  <%- include('../partials/header'); %>
</section>
<section class="course">
  <h1>You can find</h1>
  <p></p>

    <div class="row">
      <div class="course-col">
        <h3>News</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit doloribus facilis error nisi ea dolorum recusandae beatae alias expedita. Odit.</p>
      </div>
      <div class="course-col">
        <h3>Indicators</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit doloribus facilis error nisi ea dolorum recusandae beatae alias expedita. Odit.</p>
      </div>
      <div class="course-col">
        <h3>News</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit doloribus facilis error nisi ea dolorum recusandae beatae alias expedita. Odit.</p>
      </div>
    </div>
</section>
<section class="facilities">
  <h1 class="news-main-title">Latest News</h1>
  <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur aliquam necessitatibus inventore, fugit ratione obcaecati!</p>
  <div class="container">
    <main class="grid">
      <article>
        <img src="https://picsum.photos/600/400?image=1083" alt="Sample photo" class="news-img">
        <div class="text">
          <h3 class="title-news">Seamlessly visualize quality</h3>
          <p class="text-news">Collaboratively administrate empowered markets via plug-and-play networks.</p>
          <a href="https://codepen.io/collection/XdWJOQ/" class="btn btn-primary btn-block">Here's why</a>
        </div>
      </article>
      <article>
        <img src="https://picsum.photos/600/400?image=1063" alt="Sample photo" class="news-img">
        <div class="text">
          <h3 class="title-news">Completely Synergize</h3>
          <p class="text-news">Dramatically engage seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing.</p>
          <a href="https://codepen.io/collection/XdWJOQ/" class="btn btn-primary btn-block">Here's how</a>
        </div>
      </article>
      <article>
        <img src="https://picsum.photos/600/400?image=1056" alt="Sample photo" class="news-img">
        <div class="text">
          <h3 class="title-news">Dynamically Procrastinate</h3>
          <p class="text-news">Completely synergize resource taxing relationships via premier niche markets.</p>
          <a href="https://codepen.io/collection/XdWJOQ/" class="btn btn-primary btn-block">Read more</a>
        </div>
      </article>
    </main>
  </div>
</section>
<section>
  <h1>Indicators</h1>
  <p>The last indicators</p>
</section>
<section class="cta">
  <h1>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore voluptate necessitatibus velit dolorem consequatur deleniti?</h1>
  <a href="/register" class="hero-btn-register">Register</a>
</section>
<footer>
    <%- include('../partials/footer'); %>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/resources/js/main.js"></script>
</body>
</html>