<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <title>Document</title>
</head>
<body>
    <section>
        <%- include('../partials/header'); %>
      </section>
      <div id="news">

      </div>
</body>

    

<script src="/resources/js/getNews.js"></script>
</html>