<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <title>Perfil</title>
</head>
<body>
    <h4> Este es tu perfil </h4>

    <% if(user){ %>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Usuario</th>
                <th scope="col">Contraseña</th>
                <th scope="col">Correo</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"> <%= user.username %> </th>
                <td> <%= user.password %> </td>
                <td> <%= user.email %> </td>
              </tr>
          </table>
    <% } %>

</body>
</html>