<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script defer src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script defer src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>    
    <link rel="stylesheet" href="/resources/css/style.css">
    <title>Registro</title>
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
      
          <!-- Logo -->
          <div class="fadeIn first">
            <img src="/resources/img/logo.png" id="icon" alt="logo" />
          </div>
      
          <!-- Register Form -->
          <form method="POST">
            <input type="text" id="username" class="fadeIn second" name="register" placeholder="Crea un usuario">
            <input type="password" id="password" class="fadeIn third" name="register" placeholder="Crea una contraseña">
            <input type="password" id="passwordConfirm" class="fadeIn third" name="register" placeholder="Confirma contraseña">
            <input type="email" id="email" class="fadeIn third" name="register" placeholder="Coloca tu email">
            <input type="submit" class="fadeIn fourth" value="Registrarme">
          </form>
      
          <!-- Login -->
          <div id="formFooter">
            <a class="underlineHover" href="/login">Iniciar sesión</a>
          </div>
      
        </div>
      </div>
</body>
</html>